<html>
<head>
    <title>{{ title }}</title>

    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.lightbox-0.5{% if not debug %}.min{% endif %}.js"></script>

    {% if user.analytics_id %}
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ user.analytics_id }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- end google analytics -->
    {% endif %}

    <link href="/css/jquery.lightbox-0.5{% if not debug %}.min{% endif %}.css" rel="stylesheet" type="text/css" />
    <link href="/css/gallery{% if not debug %}.min{% endif %}.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <!-- container -->
  <div id="container">
    <ul id="nav">
      <li>
        <a id="nav-title" href="/">{{ user.site_header }}<span class="lightgray">gallery</span>
          {% if album_name %}
            <span id="nav-album-name">&raquo; {{ album_name|lower }}</span>
          {% endif %}
        </a>
        {% if albums %}
        <ul id="nav-list">
          {% for album in albums %}
            <li><a href="/{{ album.title }}/">{{ album.title|lower }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    </ul>
    
    {% block container %}
    {% endblock container %}
    
    <div id="footer">
      {% if logout_url %}
        <a href="{{ logout_url }}">logout</a>
      {% endif %}
      &copy; {% now "Y" %}
    </div>

  </div>
  <!-- end container -->

<!-- javascript -->
<script type="text/javascript">
    $(document).ready(function() {
        $('a.lightbox').lightBox({
            'imageLoading': '/images/lightbox-ico-loading.gif',
            'imageBtnClose': '/images/lightbox-btn-close.gif',
            'imageBtnNext': '/images/lightbox-btn-next.gif',
            'imageBtnPrev': '/images/lightbox-btn-prev.gif',
            'imageBlank': '/images/lightbox-blank.gif',
        });
        
        if (document.location.hash) {
            $(''+document.location.hash+'-id').click();
        }
        
        window.setTimeout(function() {
            $('.message').fadeOut(800, function() {
                $(this).remove();
            });
        }, 2000);
    });
</script>
<!-- end javascript -->

{% if user.merchant_id %}
<!-- google checkout -->
<script  id='googlecart-script' type='text/javascript'
    src='https://checkout.google.com/seller/gsc/v2_2/cart.js?mid={{ user.merchant_id }}'
    currency='USD'
    integration='jscart-wizard'
    post-cart-to-sandbox='false'
    hide-cart-when-empty='true'
    post-cart-to-sandbox='false'
    productWeightUnits='LB'></script>
<!-- end google checkout -->
{% endif %}

</body>
</html>