{% extends "base.html" %}

{% block container %}
<!-- thumb-container -->
<div id="thumb-container">
  {% if homepage_photo %}
    <a href="/{{ homepage_photo.album }}/#{{ homepage_photo.id }}"><img border="0" src="{{ homepage_photo.src }}" /></a>
  {% endif %}

  {% for photo in photos %}
    <a photoid="{{ photo.id }}"
        id="{{ photo.id }}-id"
        class="thumb lightbox"
        style="width:{{ user.thumb_size }}; height:{{ user.thumb_size }};"
        title="{{ photo.name }}"
        href="{{ photo.url }}"
        thumb="{{ photo.thumb_url }}"
        height="{{ photo.height }}"
        width="{{ photo.width }}">
      <span><img border="0" title="{{ photo.name }}" alt="{{ photo.name }}" src="{{ photo.thumb_url }}" {%comment%}height="72" width="72"{%endcomment%} /></span>
    </a>
  {% endfor %}
  <div class="clearfix"></div>
</div>
<!-- end thumb-container -->
{% endblock container %}